<div>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field">
      <div class="bizz-chat">
      <span class="bizz">biz</span> <span class="chat">chat</span>
      </div>
      <h3 style="color: #736D6D">Didn't get the confirmation?</h3>
      <h6 style="color: #736D6D">Enter your registered email to resend confirmation</h6>

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
       <%= render "devise/shared/error_messages", resource: resource, attribute: :email %>
    </div>

    <div class="actions">
      <%= f.submit "Resend" %>
    </div>
    <h4><%= link_to "Log in", new_session_path(resource_name), style: 'color: #BE263B' %></h4>
    <h4><%= link_to "Create new account", new_registration_path(resource_name), style: 'color: #BE263B'%></h4>
  <% end %>
</div>
