<%= turbo_frame_tag "space-content" do%>
  <div class="outer update-grp">
    <%= form_for(@group) do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <% if @group.errors[:name].any? %>
          <div class="text-danger">
            <%= @group.errors[:name].join(', ') %>
          </div>
        <% end %>
      </div>

      <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <% if @group.errors[:description].any? %>
          <div class="text-danger">
            <%= @group.errors[:description].join(', ') %>
          </div>
        <% end %>
      </div>

      <%= f.submit %>
    <% end %>
  </div>
<% end %>
