<%= turbo_frame_tag "edit-add" do%>
  <div class="edit-add-container">
    <div class="grp-msg" >
      <div id="new-msg">
      </div>
      
      <div>
        <% @group.messages.each do |msg|%>
          <%= render partial: "partial/message", locals: { msg: msg, sender: current_user } %>
        <% end %>
      </div>
    
    

      <div class="msg-send">
        <%= form_with(model: [@group, @group.messages.build], local: true) do |form| %>
          <%= form.hidden_field :receiver_type, value: "Group" %>
          <%= form.hidden_field :receiver_id, value: @group.id %> 
          <%= form.text_field :content, autocomplete: "off" %>
        
          <div class="send-attach">
            <%= form.file_field :images, multiple: true%>
            <%= form.submit "Send" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="info-bar">
      <div class= "info-bar-avatar">
        <%if @group.name.length == 3%>
          <%= image_tag "group1.png" %>
        <%elsif @group.name.length == 4%>
          <%= image_tag "group2.png" %>
        <%elsif @group.name.length == 5%>
          <%= image_tag "group3.png" %>
        <%elsif @group.name.length == 6%>
          <%= image_tag "group3.jpg" %>
        <%elsif @group.name.length == 7%>
          <%= image_tag "group5.jpeg" %>
        <%else%> 
          <%= image_tag "group6.jpeg" %>
        <%end%>
      </div>

      <div class= "info-bar-name">
        <%= @group.name %>
      </div>

      <div class= "info-bar-type">
        <%= (current_user.id == @group.admin_id) ? "Group Admin" : "Group User"%>
      </div>

      <% if current_user.id == @group.admin_id %>
        <div class= "info-bar-setting">
          <%= link_to edit_group_path, data: {turbo_frame: "space-content"} do%>
            <%= image_tag "settings2.png" %>
          <% end %>
        </div>
      <% end %>

      <% if current_user.id == @group.admin_id %>
        <div class= "info-bar-destroy">
          <%= link_to group_path(@group), data: {turbo_method: :delete} do%>
            <%= image_tag "destroy.png" %>
          <% end %>
        </div>
      <% end %>

      <div class= "info-bar-participants">
        <%= link_to list_user_path, data: {turbo_frame: "space-content"} do%>
          <div>
            <%= image_tag "participants.png" %>
          </div>

          <div>
            Participants
          </div>
        <% end %>
      </div>

      <div class= "info-bar-space">
        <%= turbo_frame_tag "space-content" %>
      </div>
    </div>
  </div>
<% end %>