<%= turbo_frame_tag "edit-add" do%>
  <div class="grp-msg">
    <% @group.messages.each do |msg|%>
      <%= render partial: "message", locals: { msg: msg } %>
    <% end %>
    <div id="new-msg">
    </div>

    <div class="msg-send">
      <%= form_with(model: [@group, @group.messages.build], local: true) do |form| %>
        <%= form.hidden_field :receiver_type, value: "Group" %>
        <%= form.hidden_field :receiver_id, value: @group.id %> 

        <%= form.text_field :content %>
      
        <div class="send-attach">
          <%= form.file_field :images%>
          <%= form.submit "Send" %>
        </div>
      <% end %>
    </div>
  <div>
<% end %>