<div class="homepage">
  <div class="sidebar">
    <div class="top-item">
      <%= image_tag "biz.png" %>
    </div>
    <div class="middle-item">
      <%= link_to root_path, data: { turbo_frame: "_top"} do%>
        <%= image_tag "chat.png" %>
      <% end %>
    </div>
    <div class="buttom-item">
      <%= link_to edit_user_registration_path, data: { turbo_frame: "edit-add"} do %>
        <%= image_tag "settings.png" %>
      <% end %>
    </div>
  </div>

  <div class="left-section">
    <div class="left-item1">
      <div class="left-item1-chat">
        Chat
      </div>
      <div class="left-item1-avatar">
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar%>
        <% else %>
          <% if current_user.gender == "male"%>
            <%= image_tag "male_avatar.png" %>
          <% else %>
            <%= image_tag "female_avatar.png" %>
          <% end %>
        <% end%>
      </div>
      <div class="left-item1-name">
        <%= current_user.name%>
      </div>
    </div>

    <div class="left-item2">
      <div class="add-new1">
        <%= link_to new_group_path,  data: {turbo_frame: "edit-add"}  do %>
          <%= image_tag "add_new.png" %>
        <% end %>
      </div>
      <div class="left-item2-channels">
        Channels
      </div>
      <div class="left-item2-channel">
        <% current_user.groups.each do |group| %>
          <div class="group-lists">
            <%= link_to group_path(group), data: {turbo_frame: "edit-add" },
            class: "group-link", "data-group-id" => group.id do %>
              <%if group.name.length == 3%>
                <%= image_tag "group1.png" %>
              <%elsif group.name.length == 4%>
                <%= image_tag "group2.png" %>
              <%elsif group.name.length == 5%>
                <%= image_tag "group3.png" %>
              <%elsif group.name.length == 6%>
                <%= image_tag "group3.jpg" %>
              <%elsif group.name.length == 7%>
                <%= image_tag "group5.jpeg" %>
              <%else%> 
                <%= image_tag "group6.jpeg" %>
              <%end%>
            <% end%>
            <div class="group-name"> 
              <%= group.name%>
            </div>
          </div>
        <% end %>
      </div>
    </div>




    <div class="left-item3">
      <div class="left-item3-chats">
        Chats
      </div>
        <div class="left-item3-search">
          <%= form_for :search, url: 'home/search', method: :post do |f| %>
            <%= f.text_field :query, name: 'query', placeholder: 'Search' %>
            <%= button_tag type: "submit", data: { turbo_frame: "search-frame"} do %>
              <%= image_tag "Magnifier.png" %>
            <% end %>
          <% end %>
      </div>
    </div>

    
    <div class="left-item4">
      <%= turbo_frame_tag "search-frame" do%>
        <div class="left-item4-all">
          All
        </div>
        <div class="chat-list">
          <% @msg_users.each do |u| %>
            <%= link_to home_path(u), data: {turbo_frame: "edit-add" } do %>
              <div class="conversation">
                <div class="left-item4-avatar">
                  <% if u.avatar.present?%>
                    <%= image_tag url_for(u.avatar) %>
                  <% else %>
                    <% if u.gender == "male"%>
                      <%= image_tag "male_avatar.png" %>
                    <% else %>
                      <%= image_tag "female_avatar.png" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="left-item4-content">
                  <div class="left-item4-name">
                    <%= u.name %>
                  </div>
                  <div class="left-item4-msg">
                    <%= Message.find(u.latest_message_id).content %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>



  
  <div class="middle-section">
    <%= turbo_frame_tag "edit-add" do%>
      <div class="middle-section-content">
        No Conversations
      </div>
    <% end %>
  </div>
  
  <div class="right-section">
    <%= turbo_frame_tag "info-bar" do%>
      ghfhgfhg
    <% end %>
  </div>
</div>
