<%= turbo_frame_tag "search-frame" do%>
  <% @search.each do |user|%>
    <%= link_to home_path(user), data: {turbo_frame: "edit-add" } do %>
      <%# class: "user-link", "data-group-id" => user.id %> 
      <div class="user-search">
        <div class= "user-search-avatar">
          <% if user.avatar.present?%>
            <%= image_tag url_for(user.avatar) %>
          <% else %>
            <% if user.gender == "male"%>
              <%= image_tag "male_avatar.png" %>
            <% else %>
              <%= image_tag "female_avatar.png" %>
            <% end %>
          <% end %>
        </div>
        <div class="user-search-content">
          <div class="user-search-name"> 
            <%= user.name %>
          </div>
          <div class="user-search-email"> 
            <%= user.email %>
          </div>
        </div>
        </div>
    <% end %>  
  <% end %>
<% end %>