<%= turbo_frame_tag "edit-add" do%>
  <div class="user-msg">
    <% current_user.messages.each do |msg|%>
      <% if (msg.user_id == current_user.id && msg.receiver_id == @user.id) || 
        (msg.user_id == @user.id && msg.receiver_id == current_user.id) %>
        <%= msg.content %><br>
        <% if msg.images.present?%>
          <% msg.images.each do |img|%>
            <%= image_tag url_for(img) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% @user.messages.each do |msg|%>
       <% if (msg.user_id == current_user.id && msg.receiver_id == @user.id) || 
        (msg.user_id == @user.id && msg.receiver_id == current_user.id) %>
        <%= msg.content %><br>
        <% if msg.images.present?%>
          <% msg.images.each do |img|%>
            <%= image_tag url_for(img) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="msg-send">
      <%= form_with(model: [@user, @user.messages.build], local: true) do |form| %>
       <%= form.hidden_field :receiver_type, value: "User" %>
       <%= form.hidden_field :receiver_id, value: @user.id %> 
        <div class="field">
          <%= form.label :content %>
          <%= form.text_field :content %>
        </div>

        <div class="field">
          <%= form.label :images %>
          <%= form.file_field :images %>
        </div>

        <%= form.submit "Send" %>
      <% end %>
    </div>
  <div>
<% end %>