<%= turbo_frame_tag "edit-add" do%>
  <div class="user-msg">
    <% (current_user.messages + @user.messages).sort_by(&:created_at).each do |msg| %>
      <% if (msg.user_id == current_user.id && msg.receiver_id == @user.id) || 
            (msg.user_id == @user.id && msg.receiver_id == current_user.id) %>
        <%= render partial: "partial/message", locals: { msg: msg} %>
      <% end %>
    <% end %>
    <div id="latest-msg">
    </div>
  

    <div class="msg-send">
      <%= form_with(model: [@user, @user.messages.build], local: true) do |form| %>
        <%= form.hidden_field :receiver_type, value: "User" %>
        <%= form.hidden_field :receiver_id, value: @user.id %> 
        <%= form.text_field :content %>
        
        <div class="send-attach">
          <%= form.file_field :images %>
          <%= form.submit "Send" %>
        </div>
      <% end %>
    </div>
  <div>
<% end %>